:root {
  --bar-padding-v: 10px;
}


.Bar {
  inherit: %default;
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-border-outer);
  background: var(--color-bg);
  background: linear-gradient(to bottom, #2a3233,#3c3e42 calc(100% - 3px),#414448 calc(100% - 2px), #4b5355 calc(100% - 1px));
}

@import './link';
