/* =======================================================================*
 * Site forms and inputs .SCSS source styles.                             *
 *                                                                        *
 * by Codevels (info@codevels.com), 2013                                  *
 * =======================================================================*/


/* ===== GENERAL FORMS SETTINGS ======================= */

/* Form with inputs placed horizontally */
.form-horizontal 
{
	.form-group 
	{ 
		margin: 0; 

		// Inputs Sizes
		&.big 
		{
			$big-input-padding-addition: 2px;
			* { font-size: 15px; }

			.form-control, .bootstrap-select .btn
			{
				@include paddings ( $t: $padding-base-vertical + $big-input-padding-addition, $b: $padding-base-vertical + $big-input-padding-addition );
				height: $input-height-base + $big-input-padding-addition * 2;
			}
		}

	}

	/* Strechable input with fixed select picker  */
	.input-with-select
	{
		@include clearfix;
		display: table;
		width: 100%;

		// input
		.input-wrapper
		{
			display: table-cell;
			padding-right: 10px;
		}

		.form-control 
		{
			float: left;
			display: block; 
			width: 100%;

			input { display: block; }
		}

		.selectpicker 
		{
			display: table-cell;
			width: .01%;
		}
	}

	// Standard input
	.form-control
	{
		// Adds focus behavior on non-input element
		&.has-focus 
		{ 
		    border-color: $input-border-focus;
		    @include box-shadow( inset 0 1px 1px rgba( #000 ,.075), 0 0 8px rgba( $input-border-focus, .6 ) );
		}

		// Search or filter box
		&.search 
		{
			position: relative;
			@include paddings ( $l: 0, $r: 0 );

			& > input { border: 0; }

			& > input[type="text"]
			{
				padding: 0 $padding-base-horizontal * 3 0 $padding-base-horizontal;
				width: 100%;
			}

			& > input[type="submit"]
			{
				float: right;
				@include img ( "ico-search.png" );
				opacity: .5;
				text-indent: -9999px;

				@include hoverify { opacity: 1; }
			}

			& > input[type="submit"], .loading 
			{
				@include absolute ( $r: 0, $t: 50% );
				margin: -10px 10px;
			}

			// Loading icon
			.loading 
			{ 
				display: none;
				font-size: 4.5px;
			}
		} 
	}

	.selectpicker
	{
		display: inline-block;
		width: 100%;
	}

	/* Link with some action instead of the button. */
	.sublink 
	{
		display: inline-block;
		margin: 8px;
		font-size: 13px; 

		& > a 
		{
			color: $text-dark;
			text-decoration: underline;

			@include hoverify ( $text-orange-dark, none );
		}

	}
}

/* Data sort controls */
.sort-bar 
{
	float: right;
	font-size: 15px;
	font-weight: $semibold;

	& > a 
	{
		color: $text-greyer;
		text-decoration: underline;
		margin-right: 15px;

		// Sorting arrows
		&:after 
		{
			@include objectify ( relative, inline-block ); top: 3px;
			@include img ( "ico-sort.png" );
			margin-left: 4px;
			opacity: .65;
		}

		@include hoverify ( $text-dark, none ) { &:after { opacity: 1; } }
 
		&.active
		{
			color: $text-orange-dark;

			&:after { opacity: 1; }
		}

		// Hides the label away
		.label-less 
		{
			position: absolute;
			text-indent: -9999px;
		}

		&.desc:after { @include bg ( "ico-sort-desc.png" ); }
		&.asc:after { @include bg ( "ico-sort-asc.png" ); }
	}

	.selectpicker 
	{
		display: inline-block;
		width: 150px;
	}
} 