/* =======================================================================*
 * UI items used across whole website, SCSS source styles.                *
 *                                                                        *
 * by Codevels (info@codevels.com), 2013                                  *
 * =======================================================================*/

/* ===== ICONS & IMAGES ========================== */

.ico 
{
	&:before 
	{
		@include objectify ( $display: inline-block );
	}

	&.login:before { @include img ( "ico-mini-lock.png" ); }
}




/* ===== BUTTONS ================================= */

$btn-ico-size: 12px;

// Standard button
.btn 
{
	display: inline-block;
	@include button-size ( 6px, 16px, 13px, 20px, 3px );
	@include button-variant ( #FFF, $bg-blue, $border-blue );
	@include hoverify ( #FFF, none );
	@include paddings ( $t: 7px, $b: 4px );
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	// Button types
	&.negative 
	{ 
		@include button-variant ( #FFF, $bg-red, $border-red );
		@include hoverify ( #FFF ) { background-color: darken( $bg-red, 15% ); }
	}

	&.primary { @include button-variant ( #FFF, $bg-brand, $border-brand ); }
	&.neutral { @include button-variant ( #FFF, #b2b2b2, #999 ); }

	line-height: 1.5;

	// Icon inside button
	.ico 
	{
		display: inline-block;
		@include relative-shift ( 1px );
		margin-right: 10px;
		@include size ( $btn-ico-size, $btn-ico-size );

		&.ok { @include bg ( "ico-tick.png" ); }
		&.remove { @include bg ( "ico-cross.png" ); }
		&.plus { @include bg ( "ico-plus.png" ); }

		&.upload { width: 16px; @include bg ( "ico-upload.png" ); }
		&.download { width: 16px; @include bg ( "ico-download.png" ); top: 2px; }
		&.hide { width: 16px; @include bg ( "ico-hide.png" ); top: 3px; }
		&.show { width: 16px; @include bg ( "ico-show.png" ); top: 3px; }
 
	}

	// Large-sized button
	&.large 
	{
		@include button-size ( 7px, 25px, 14px, 20px, 3px ); 
		font-weight: $semibold;
	}

	&.small
	{ 
		@include button-size ( 4px, 12px, 12px, 18px, 3px ); 
		@include paddings ( $t: 5px, $b: 2px );

		.ico { margin-right: 5px; }
	}
}

// Main buttons
.btns 
{
	overflow: hidden;
	border-top: 1px solid $border-grey;
	padding: 10px 0;
	margin-top: 35px;
	clear: both;

	// Call-to-action buttons container
	&.cta 
	{
		padding: 25px 0;
		text-align: center;

		.btn { @include margins ( $l: 2px, $r: 2px ); }
	}
 
	.btn-extender 
	{ 
		display: inline-block; 
		vertical-align: top;  
	} 

	time 
	{   
		display: block; 
		font-size: 13px;
		margin-top: 2px; 
		color: $text-light-dark;
	} 
}


// Help and tooltip button
$btn-help-diameter: 15px;

.btn-help
{
	display: inline-block;
	padding: 0 5px;
	@include size ( $btn-help-diameter, $btn-help-diameter );
	@include rounded-corners ( $btn-help-diameter );
	background: #b2b2b2;

	color: #FFF;
	font-size: 11px;
	font-weight: $bold;

	@include hoverify ( #FFF ) { background: $bg-brand; }
}

	// Tooltip's text
	.tooltip 
	{
		width: 240px;

		.tooltip-inner
		{
			padding: 8px; 
			max-width: 98%;
		}
	}


/* Cascades & Sidebar components */
.side-holder
{
	@include make-xs-column ( 4, 0 );
	float: right;
	margin: 5px 0 20px 20px;
	clear: right;
}

// Contextual buttons
.sidebtns { text-align: right; }	

// Picture in the sidebar
.sidepic 
{
	& > a 
	{ 
		background-color: #FFF; 

		&:hover, &:active, &:focus { & > img { opacity: .5; } }
	}

	img 
	{
		@include size ( 100%, auto );
	}

	.caption 
	{
		padding: 8px 5px;
		text-align: center;
		font-size: 13px;
		font-style: italic;
		border-bottom: 1px solid $border-light;
		line-height: 1.4;
	}
}

// Cascades

.cascade 
{
	font-size: 13px;
	background: $bg-lighter;

	h3 
	{
		padding: 12px 18px;
		margin: 0;
		padding-left: 38px;
		@include font-params ( #FFF, 14px, 1.3, $semibold );
	}

	h4 
	{
		margin: 12px 0 8px;
		font-size: 13px;
		font-weight: $bold;

		&:first-child { margin-top: 0; }
	}

	// Infoline - Contacts etc.
	.info 
	{ 
		display: block; 
		margin: 4px 0;
	}

	.cascade-content 
	{	
		padding: 20px 18px;

		ul 
		{
			margin: 12px 0 5px;
			padding-left: 8px;
			line-height: 22px;
		} 

		.file-list li:before { top: 5px; }

		p 
		{
			@include font-params ( $text-light-dark, 13px, 17px );
			margin: 0 0 15px 0;
		}
	}

	// Information notice
	.notice 
	{
		border-bottom: 1px solid $border-grey;
		padding-bottom: 15px;
	}
   
	.btn  
	{
		margin: 0 7px 0 0;
		padding: 5px 10px;
		vertical-align: middle;

		.ico { top: 3px; margin-right: 7px; }
	}

	// Time left
	.deadline 
	{
		margin-top: 7px;
		display: inline-block;
		white-space: nowrap;
		color: #868582;

		strong { font-weight: $semibold; }
	}

	/* Cascade types */

	// Did you know...
	&.tip 
	{
		& > h3 
		{ 
			@include bg ( "ico-cascade-tip.png", no-repeat 10px 9px );
		}
	}

	// Contact box
	&.contact 
	{
		& > h3 
		{ 
			@include bg ( "ico-cascade-contact.png", no-repeat 10px 9px );
		}
	}

	// Files download
	&.download 
	{
		& > h3 
		{ 
			@include bg ( "ico-cascade-download.png", no-repeat 10px 10px );
		}
	}

	&.tip, &.contact, &.download 
	{
		& > h3 { background-color: $bg-blue; }
	}
 
	// Event or action
	&.event
	{
		& > h3 
		{ 
			@include bg ( "ico-cascade-event.png", no-repeat 10px 10px );
			background-color: #f5aa13; 
		}
	}
} 


/* ===== CONTENT-BASED HELPERS =================== */

// F.A.Q. box
.faq 
{
	background-color: #f4f4f4;
	margin: 10px 0;

	.answer, .question 
	{
		margin: 0;
		padding: 11px 18px;
	}

	.question 
	{ 
		font-size: 14px;
		border-bottom: 1px solid $border-light;
		font-weight: $semibold;

		&:before 
		{
			margin: 0 10px 0 5px;
			@include objectify( $display: inline-block ); top: 4px;
			@include img ( "ico-bubble.png" );
		}
	}

	.answer 
	{
		&.positive { color: $text-ok;}
		&.negative { color: $text-err;}
	}
}

/* Vertical strip with image gallery */
$gallery-strip-row-count: 3;
$gallery-strip-pic-padding: .7%;

.gallery-strip
{
	margin: 20px -1*$gallery-strip-pic-padding;

	a 
	{
		background: #FFF;

		&:hover, &:active, &:focus { & > img { opacity: .5; } }
	}

	img 
	{
		width: ( 100% - 3*2*$gallery-strip-pic-padding - 1.2) / 3;
		margin: $gallery-strip-pic-padding
	}
}

// Tag or category
@mixin tag ( $font-size: 13px )
{
	display: inline-block;
	padding: 1px 8px;
	margin: 3px 0;
	@include font-params ( #FFF, $font-size, 2, $semibold ) ;
	@include rounded-corners ( $web-corners );
	background: $bg-greyer;
}

/* Contact card */
$contact-portrait-size: 100px;

.contact-card 
{
	overflow: hidden;	
	margin: 25px 0 0;
	padding: 10px;
	background: $bg-lightest;

	.portrait 
	{
		float: left;
		@include size ( $contact-portrait-size );

		@include hoverify { opacity: .5; }
	}

	.contact-content 
	{
		overflow: hidden;
		padding: 0 10px;
	}

	h3, .department 
	{
		display: block;
		margin: 0 0 4px;
	}

	h3 
	{
		@include font-params ( $text-darker, 16px, normal, $semibold );
	}

	.department { color: $text-grey; }

	.contacts 
	{
		line-height: 1.65;
		margin: 7px 5px;
		font-size: 13px;

		& > li { font-weight: $semibold; }
	}

	.tags-list 
	{ 
		margin: 10px 3px 5px;
	}

	header 
	{
		border-bottom: 1px solid $border-light;
		padding: 0 3px 5px 3px;
		margin-bottom: 10px;

		.btn { float: right; font-weight: $semibold; }
	}
}

/* Loading spinner */
@include keyframes( spin )
{
	to { @include rotate ( 1turn ); }
}

$loader-width: 20px; 
$loader-height: 20px;
$loader-part-width: 2px;
$loader-part-height: 6px ;

.loading
{
	position: relative;
	overflow: hidden;
	display: inline-block;
	@include size ( $loader-width, $loader-height );
	margin: 0 .5em;
	font-size: 4px;
	text-indent: 999em;
	@include animation ( spin 1s infinite steps(8) );

	&:before, &:after, & > span:before, & > span:after 
	{
		@include objectify ( absolute, inline-block ); top: 0;
		left: ( $loader-width - $loader-part-width ) / 2; 
		@include size ( $loader-part-width, $loader-part-height );
		border-radius: .2em;
		background: #DDD;
		@include box-shadow ( 0 $loader-height - $loader-part-height #DDD ); 
		@include transform-origin ( 50% $loader-height / 2 );
	}

	// Rotations
	&:before { background: #000; }
	&:after { @include rotate( -45deg); background: #333;  }
	& > span:before { @include rotate( -90deg); background: #555; }
	& > span:after { @include rotate( -135deg); background: #999; }
}


/* In-page tab links */
.tabs 
{
	border-bottom: 1px solid $border-light;
	margin: 0 0 35px;
	padding: 0 0 20px;

	li 
	{
		display: inline-block;
		margin-right: 20px;
		@include font-params ( $text-greyer, 15px, $weight: $semibold );

		& > a 
		{
			text-decoration: underline;
			color: inherit;

			@include hoverify ( $text-darker, none );
		}

		// Currently selected tab
		&.active 
		{
			color: $text-orange-dark;
			
			& > a 
			{ 
				text-decoration: none; 
				@include hoverify ( $text-orange-dark );
			}
		}
	}
}